<div class="b-regform-wrapper">
	<h2 class="b-regform-wrapper__head">Вход на Трешопоиск</h2>
	<div class="b-form">
		<form action="#" method="post">
			<fieldset class="b-form__fieldset">
				<label class="b-form__label" for="username">Имя пользователя:</label>
				<input class="b-form__input" type="text" name="username" id="username" placeholder="Имя пользователя" value="">
			</fieldset>
			<fieldset class="b-form__fieldset">
				<label class="b-form__label" for="password">Пароль:</label>
				<input class="b-form__input" type="text" name="password" id="password" placeholder="Пароль" value="">
			</fieldset>
			<div class="b-form__btns">
				<input class="btn b-form__btn" type="submit" value="Вход" name="Login" id="Login">
			</div>
			<div class="b-form__error-text">
				<p class="error">Неправильное имя пользователя или пароль. Пожалуйста, проверьте введённые данные и попытайтесь снова.</p>
			</div>
		</form>
	</div>
</div>