<section class="category l-section">
	<div class="wrapper l-section__inner">
		<div class="b-head l-section__head">
			<h2 class="b-head__title b-head__title--small">Предложить фильм</h2>
		</div>
		<p>Если мы ещё не видели того фильма, который по какой-то причине остался у вас в голове и его нет на сайте – ждём от вас его название и искренне надеемся, что у вас есть желание поведать миру о своей любимой или ненавистной киноленте и написать краткое описание к ней. И помните, что мы тоже будем это смотреть.</p>
		<p>Фильмов в очереди: <strong>65</strong></p>
		<p>Если у вас есть желание написать достаточно объемное (1000 - 2000 символов) и забавное описание фильма, то ваш текст окажется на сайте.</p>
		<p>P.S. Не забывайте писать категорию в которую вы определили фильм (лучший из худших, худший из худших или невозможно смотреть).</p>
		<form method="post" class="film-offer-form ajax_form">
		    <label class="film-offer-form__label" for="film">Название фильма*</label>
		    <input class="film-offer-form__film-name" type="text" id="inputFilmName" placeholder="Напишите название фильма" name="film">
		    <label class="film-offer-form__label" for="aboutFilm">Описание фильма*</label>
		    <textarea class="film-offer-form__descr" name="aboutFilm" id="inputFilmAbout" placeholder="Напишите описание фильма"></textarea>
		    <input type="submit" class="btn-all btn-all--offer-form" value="Предложить">

			<input type="hidden" name="af_action" value="2b4a7cf3e73bb808423cc23e4eb9c47d">
		</form>
	</div>
</section>