<div class="grid-film main-slider main-slider_grid-film owl-carousel js-films-slider">
	<article class="grid-film-item">
		<a href="/" class="grid-film-item__img" style="background-image:url('https://trashopoisk.com/assets/images/covers/maniacs20012-cover.jpg');">
			<img class="visuallyhidden" src="https://trashopoisk.com/assets/images/covers/maniacs20012-cover.jpg" alt="Трусонюх 2">
		</a>
		<div class="grid-film-item__info">
			<h3 class="grid-film-item__title">
				<a href="/">Трусонюх 2</a>
			</h3>
			<h4 class="grid-film-item__caption">HK: Hentai Kamen - Abnormal Crisis</h4>
			<h3 class="grid-film-item__caption">2016</h3>
		</div>
	</article>
	<article class="grid-film-item">
		<a href="/" class="grid-film-item__img" style="background-image:url('https://trashopoisk.com/assets/images/covers/absofdeath-cover.jpg');">
			<img class="visuallyhidden" src="https://trashopoisk.com/assets/images/covers/absofdeath-cover.jpg" alt="Весёлый лес: Первый контакт">
		</a>
		<div class="grid-film-item__info">
			<h3 class="grid-film-item__title">
				<a href="/">Весёлый лес: Первый контакт</a>
			</h3>
			<h4 class="grid-film-item__caption">Funky Forest: The First Contact</h4>
			<h3 class="grid-film-item__caption">2005</h3>
		</div>
	</article>
	<article class="grid-film-item">
		<a href="/" class="grid-film-item__img" style="background-image:url('https://trashopoisk.com/assets/images/covers/block3d-cover.jpg');">
			<img class="visuallyhidden" src="https://trashopoisk.com/assets/images/covers/block3d-cover.jpg" alt="Зеленый слоник">
		</a>
		<div class="grid-film-item__info">
			<h3 class="grid-film-item__title">
				<a href="/">Зеленый слоник</a>
			</h3>
			<h4 class="grid-film-item__caption"></h4>
			<h3 class="grid-film-item__caption">1992</h3>
		</div>
	</article>
	<article class="grid-film-item">
		<a href="/" class="grid-film-item__img" style="background-image:url('https://trashopoisk.com/assets/images/covers/slaughteredvomitdolls-cover.jpg');">
			<img class="visuallyhidden" src="https://trashopoisk.com/assets/images/covers/slaughteredvomitdolls-cover.jpg" alt="Мэнди">
		</a>
		<div class="grid-film-item__info">
			<h3 class="grid-film-item__title">
				<a href="/">Мэнди</a>
			</h3>
			<h4 class="grid-film-item__caption">Mandy</h4>
			<h3 class="grid-film-item__caption">2017</h3>
		</div>
	</article>
	<article class="grid-film-item">
		<a href="/" class="grid-film-item__img" style="background-image:url('https://trashopoisk.com/assets/images/covers/visit-cover.jpg');">
			<img class="visuallyhidden" src="https://trashopoisk.com/assets/images/covers/visit-cover.jpg" alt="Мэнди">
		</a>
		<div class="grid-film-item__info">
			<h3 class="grid-film-item__title">
				<a href="/">Мэнди</a>
			</h3>
			<h4 class="grid-film-item__caption">Mandy</h4>
			<h3 class="grid-film-item__caption">2017</h3>
		</div>
	</article>
	<article class="grid-film-item">
		<a href="/" class="grid-film-item__img" style="background-image:url('https://trashopoisk.com/assets/images/covers/maniacs20012-cover.jpg');">
			<img class="visuallyhidden" src="https://trashopoisk.com/assets/images/covers/maniacs20012-cover.jpg" alt="Трусонюх 2">
		</a>
		<div class="grid-film-item__info">
			<h3 class="grid-film-item__title">
				<a href="/">Трусонюх 2</a>
			</h3>
			<h4 class="grid-film-item__caption">HK: Hentai Kamen - Abnormal Crisis</h4>
			<h3 class="grid-film-item__caption">2016</h3>
		</div>
	</article>
	<article class="grid-film-item">
		<a href="/" class="grid-film-item__img" style="background-image:url('https://trashopoisk.com/assets/images/covers/absofdeath-cover.jpg');">
			<img class="visuallyhidden" src="https://trashopoisk.com/assets/images/covers/absofdeath-cover.jpg" alt="Весёлый лес: Первый контакт">
		</a>
		<div class="grid-film-item__info">
			<h3 class="grid-film-item__title">
				<a href="/">Весёлый лес: Первый контакт</a>
			</h3>
			<h4 class="grid-film-item__caption">Funky Forest: The First Contact</h4>
			<h3 class="grid-film-item__caption">2005</h3>
		</div>
	</article>
	<article class="grid-film-item">
		<a href="/" class="grid-film-item__img" style="background-image:url('https://trashopoisk.com/assets/images/covers/block3d-cover.jpg');">
			<img class="visuallyhidden" src="https://trashopoisk.com/assets/images/covers/block3d-cover.jpg" alt="Зеленый слоник">
		</a>
		<div class="grid-film-item__info">
			<h3 class="grid-film-item__title">
				<a href="/">Зеленый слоник</a>
			</h3>
			<h4 class="grid-film-item__caption"></h4>
			<h3 class="grid-film-item__caption">1992</h3>
		</div>
	</article>
	<article class="grid-film-item">
		<a href="/" class="grid-film-item__img" style="background-image:url('https://trashopoisk.com/assets/images/covers/slaughteredvomitdolls-cover.jpg');">
			<img class="visuallyhidden" src="https://trashopoisk.com/assets/images/covers/slaughteredvomitdolls-cover.jpg" alt="Мэнди">
		</a>
		<div class="grid-film-item__info">
			<h3 class="grid-film-item__title">
				<a href="/">Мэнди</a>
			</h3>
			<h4 class="grid-film-item__caption">Mandy</h4>
			<h3 class="grid-film-item__caption">2017</h3>
		</div>
	</article>
	<article class="grid-film-item">
		<a href="/" class="grid-film-item__img" style="background-image:url('https://trashopoisk.com/assets/images/covers/visit-cover.jpg');">
			<img class="visuallyhidden" src="https://trashopoisk.com/assets/images/covers/visit-cover.jpg" alt="Мэнди">
		</a>
		<div class="grid-film-item__info">
			<h3 class="grid-film-item__title">
				<a href="/">Мэнди</a>
			</h3>
			<h4 class="grid-film-item__caption">Mandy</h4>
			<h3 class="grid-film-item__caption">2017</h3>
		</div>
	</article>
</div>
