<section class="category__items">
	<div class="rows">
		<article class="category-item category__item">
			<div class="category-item__inner">
				<a class="category-item__img" href="./single-film-page.html">
					<img src="./images/covers/cover_1.jpg" alt="Зеленый слоник">
				</a>
				<div class="category-item__info">
					<div class="category-item__descr">
							<span class="category-item__caption category-item__caption_gray">США</span>
						<a class="category-item__title" href="./single-film-page.html">Трусонюх 2</a>
						<h5 class="category-item__caption category-item__caption_bold category-item__caption_gray">HK: Hentai Kamen - Abnormal Crisis</h5>
						<div class="category-item__captions">
							<div class="category-item__caption category-item__caption_md category-item__caption_gray">
								<span>Год: </span>
								2015
							</div>
							<div class="category-item__caption category-item__caption_md category-item__caption_gray">
								<span>Режиссер: </span>
								Юити Фукуда
							</div>
						</div>
					</div>
					<div class="category-item__footer">
						<a class="btn btn_icon category-item__btn" href="./single-film-page.html">
							<i class="fa fa-play" aria-hidden="true"></i>
							<span>Смотреть</span>
						</a>
						<div class="category-item__time category-item__caption category-item__caption_md category-item__caption_gray">
							<i class="fa fa-clock-o category-item__icon category-item__icon_md" aria-hidden="true"></i>
							94мин
						</div>
					</div>
				</div>
			</div>
		</article>
		<article class="category-item category__item">
			<div class="category-item__inner">
				<a class="category-item__img" href="./single-film-page.html">
					<img src="./images/covers/cover_2.jpg" alt="Зеленый слоник">
				</a>
				<div class="category-item__info">
					<div class="category-item__descr">
							<span class="category-item__caption category-item__caption_gray">США</span>
						<a class="category-item__title" href="./single-film-page.html">Трусонюх 2</a>
						<h5 class="category-item__caption category-item__caption_bold category-item__caption_gray">HK: Hentai Kamen - Abnormal Crisis</h5>
						<div class="category-item__captions">
							<div class="category-item__caption category-item__caption_md category-item__caption_gray">
								<span>Год: </span>
								2015
							</div>
							<div class="category-item__caption category-item__caption_md category-item__caption_gray">
								<span>Режиссер: </span>
								Юити Фукуда
							</div>
						</div>
					</div>
					<div class="category-item__footer">
						<a class="btn btn_icon category-item__btn" href="./single-film-page.html">
							<i class="fa fa-play" aria-hidden="true"></i>
							<span>Смотреть</span>
						</a>
						<div class="category-item__time category-item__caption category-item__caption_md category-item__caption_gray">
							<i class="fa fa-clock-o category-item__icon category-item__icon_md" aria-hidden="true"></i>
							94мин
						</div>
					</div>
				</div>
			</div>
		</article>
		<article class="category-item category__item">
			<div class="category-item__inner">
				<a class="category-item__img" href="./single-film-page.html">
					<img src="./images/covers/cover_3.jpg" alt="Зеленый слоник">
				</a>
				<div class="category-item__info">
					<div class="category-item__descr">
							<span class="category-item__caption category-item__caption_gray">США</span>
						<a class="category-item__title" href="./single-film-page.html">Человеческая многоножка 3</a>
						<h5 class="category-item__caption category-item__caption_bold category-item__caption_gray">The Human Centipede 3 (Final Sequence)</h5>
						<div class="category-item__captions">
							<div class="category-item__caption category-item__caption_md category-item__caption_gray">
								<span>Год: </span>
								2015
							</div>
							<div class="category-item__caption category-item__caption_md category-item__caption_gray">
								<span>Режиссер: </span>
								Том Сикс
							</div>
						</div>
					</div>
					<div class="category-item__footer">
						<a class="btn btn_icon category-item__btn" href="./single-film-page.html">
							<i class="fa fa-play" aria-hidden="true"></i>
							<span>Смотреть</span>
						</a>
						<div class="category-item__time category-item__caption category-item__caption_md category-item__caption_gray">
							<i class="fa fa-clock-o category-item__icon category-item__icon_md" aria-hidden="true"></i>
							94мин
						</div>
					</div>
				</div>
			</div>
		</article>
	</div>
	<div class="category__buttons">
		<button class="btn btn_more btn-default btn-more">
			<span class="fa fa-circle-o-notch"></span>
			Загрузить еще
		</button>
	</div>
	//= ./_category-pagination.html
</section>