<div class="pagination">
    <div class="pagination">
        <ul class="pagination">
            <li class="control">
                <a href="luchshie-iz-xudshix?page=1">Первая</a>
            </li>
            <li class="control">
                <a href="luchshie-iz-xudshix?page=1">«</a>
            </li>
            <li>
                <a href="luchshie-iz-xudshix?page=1">1</a>
            </li>
            <li class="active">
                <a href="luchshie-iz-xudshix?page=2">2</a>
            </li>
            <li>
                <a href="luchshie-iz-xudshix?page=2">3</a>
            </li>
            <li>
                <a href="luchshie-iz-xudshix?page=2">4</a>
            </li>
            <li>
                <a href="luchshie-iz-xudshix?page=2">5</a>
            </li>
            <li class="disabled">
                <span>»</span>
            </li>
            <li class="disabled">
                <span>Последняя</span>
            </li>
        </ul>
    </div>
</div>
