//= ../../blocks/_breadcrumbs.html
<main class="category l-section">
	<div class="l-section__inner wrapper">
		<div class="l-section__head b-head">
			<h1 class="b-head__title b-head__title--small">Лучшие из худших</h1>
		</div>
		<div class="category-links">
			<a class="btn category-links__item is-current" href="#">Лучшие из худших</a>
			<a class="btn category-links__item" href="#">Худшие из Худших</a>
			<a class="btn category-links__item" href="#">Невозможно смотреть</a>
			<a class="btn category-links__item" href="#">Все фильмы</a>
		</div>
		<section class="category__items">
				<div class="rows">
					<article class="category__item category-item">
						<a class="category-item__cover" href="./single-film-page.html">
							<div class="category-item__img">
								<img src="images/green.jpg" alt="Зеленый слоник">
							</div>
						</a>
						<div class="category-item__about">
							<p class="category-item__year">США, 2015</p>
							<a class="category-item__name" href="./single-film-page.html">Зеленый слоник</a>
							<h5 class="category-item__name category-item__name--eng">English name</h5>
							<h6 class="category-item__authors">name director</h6>
							<a class="btn category-item__btn" href="./single-film-page.html">
								<i class="category-item__icon fa fa-play" aria-hidden="true"></i>
								<span>Смотреть</span>
							</a>
						</div>
					</article>
					<article class="category__item category-item">
						<div class="category-item__cover">
							<div class="category-item__img">
								<img src="images/green.jpg" alt="Зеленый слоник">
							</div>
						</div>
						<div class="category-item__about">
							<p class="category-item__year">США, 2015</p>
							<a class="category-item__name" href="./single-film-page.html">Зеленый слоник</a>
							<h5 class="category-item__name category-item__name--eng">English name</h5>
							<h6 class="category-item__authors">name director</h6>
							<a href="./single-film-page.html" class="btn category-item__btn">
								<i class="category-item__icon fa fa-play" aria-hidden="true"></i>
								<span>Смотреть</span>
							</a>
						</div>
					</article>
					<article class="category__item category-item">
						<div class="category-item__cover">
							<div class="category-item__img">
								<img src="images/green.jpg" alt="Зеленый слоник">
							</div>
						</div>
						<div class="category-item__about">
							<p class="category-item__year">США, 2015</p>
							<a class="category-item__name" href="./single-film-page.html">Зеленый слоник</a>
							<h5 class="category-item__name category-item__name--eng">English name</h5>
							<h6 class="category-item__authors">name director</h6>
							<a href="./single-film-page.html" class="btn category-item__btn">
								<i class="category-item__icon fa fa-play" aria-hidden="true"></i>
								<span>Смотреть</span>
							</a>
						</div>
					</article>
					<article class="category__item category-item">
						<div class="category-item__cover">
							<div class="category-item__img">
								<img src="images/green.jpg" alt="Зеленый слоник">
							</div>
						</div>
						<div class="category-item__about">
							<p class="category-item__year">США, 2015</p>
							<a class="category-item__name" href="./single-film-page.html">Зеленый слоник</a>
							<h5 class="category-item__name category-item__name--eng">English name</h5>
							<h6 class="category-item__authors">name director</h6>
							<a href="./single-film-page.html" class="btn category-item__btn">
								<i class="category-item__icon fa fa-play" aria-hidden="true"></i>
								<span>Смотреть</span>
							</a>
						</div>
					</article>
					<article class="category__item category-item">
						<div class="category-item__cover">
							<div class="category-item__img">
								<img src="images/green.jpg" alt="Зеленый слоник">
							</div>
						</div>
						<div class="category-item__about">
							<p class="category-item__year">США, 2015</p>
							<a class="category-item__name" href="./single-film-page.html">Зеленый слоник</a>
							<h5 class="category-item__name category-item__name--eng">English name</h5>
							<h6 class="category-item__authors">name director</h6>
							<a href="./single-film-page.html" class="btn category-item__btn">
								<i class="category-item__icon fa fa-play" aria-hidden="true"></i>
								<span>Смотреть</span>
							</a>
						</div>
					</article>
				</div>
				<div id="undefined-sticky-wrapper" class="sticky-pagination" style="height: 140px;">
					<div class="pagination" style="width: 1000px;">
						<div class="pagination">
							<ul class="pagination">
								<li class="control">
									<a href="luchshie-iz-xudshix?page=1">Первая</a>
								</li>
								<li class="control">
									<a href="luchshie-iz-xudshix?page=1">«</a>
								</li>
								<li>
									<a href="luchshie-iz-xudshix?page=1">1</a>
								</li>
								<li class="active">
									<a href="luchshie-iz-xudshix?page=2">2</a>
								</li>
								<li class="disabled">
									<span>»</span>
								</li>
								<li class="disabled">
									<span>Последняя</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
		</section>
	</div>
</main>