//= ../../blocks/_breadcrumbs.html
<div class="wrapper rating-page">
	<h1 class="rating-page__head">Лучшие из худших</h1>
	<div class="film-rating-page">
		<img src="images/green.jpg" class="rp__img">
		<div class="rp__info">
			<p class="rp__year">США, 2015</p>
			<h3>Зеленый слоник</h3>
			<h5>English name</h5>
			<h6>name director</h6>
			<a href="./single-film-page.html" class="btn-more-unit">
				<i class="fa fa-chevron-right" aria-hidden="true"></i>Смотреть</a>
		</div>
	</div>
	<div class="film-rating-page">
		<img src="images/green.jpg" class="rp__img">
		<div class="rp__info">
			<h3>Зеленый слоник</h3>
			<h5>English name</h5>
			<h6>name director</h6>
			<p class="rp__year">Year</p>
			<a href="" class="btn-more-unit">
				<i class="fa fa-chevron-right" aria-hidden="true"></i>Смотреть</a>
		</div>
	</div>
	<div class="film-rating-page">
		<img src="images/green.jpg" class="rp__img">
		<div class="rp__info">
			<h3>Зеленый слоник</h3>
			<h5>English name</h5>
			<h6>name director</h6>
			<p class="rp__year">Year</p>
			<a href="" class="btn-more-unit">
				<i class="fa fa-chevron-right" aria-hidden="true"></i>Смотреть</a>
		</div>
	</div>
	<div id="undefined-sticky-wrapper" class="sticky-pagination" style="height: 140px;">
		<div class="pagination" style="width: 1000px;">
			<div class="pagination">
				<ul class="pagination">
					<li class="control">
						<a href="luchshie-iz-xudshix?page=1">Первая</a>
					</li>
					<li class="control">
						<a href="luchshie-iz-xudshix?page=1">«</a>
					</li>
					<li>
						<a href="luchshie-iz-xudshix?page=1">1</a>
					</li>
					<li class="active">
						<a href="luchshie-iz-xudshix?page=2">2</a>
					</li>
					<li class="disabled">
						<span>»</span>
					</li>
					<li class="disabled">
						<span>Последняя</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>