<section class="category__items">
	<div class="rows">
		<article class="category__item category-item">
			<a class="category-item__cover" href="./single-film-page.html">
				<div class="category-item__img">
					<img src="images/green.jpg" alt="Зеленый слоник">
				</div>
			</a>
			<div class="category-item__about">
				<p class="category-item__year">США, 2015</p>
				<a class="category-item__name" href="./single-film-page.html">Зеленый слоник</a>
				<h5 class="category-item__name category-item__name--eng">English name</h5>
				<h6 class="category-item__authors">name director</h6>
				<a class="btn category-item__btn" href="./single-film-page.html">
					<i class="category-item__icon fa fa-play" aria-hidden="true"></i>
					<span>Смотреть</span>
				</a>
			</div>
		</article>
		<article class="category__item category-item">
			<div class="category-item__cover">
				<div class="category-item__img">
					<img src="images/green.jpg" alt="Зеленый слоник">
				</div>
			</div>
			<div class="category-item__about">
				<p class="category-item__year">США, 2015</p>
				<a class="category-item__name" href="./single-film-page.html">Зеленый слоник</a>
				<h5 class="category-item__name category-item__name--eng">English name</h5>
				<h6 class="category-item__authors">name director</h6>
				<a href="./single-film-page.html" class="btn category-item__btn">
					<i class="category-item__icon fa fa-play" aria-hidden="true"></i>
					<span>Смотреть</span>
				</a>
			</div>
		</article>
		<article class="category__item category-item">
			<div class="category-item__cover">
				<div class="category-item__img">
					<img src="images/green.jpg" alt="Зеленый слоник">
				</div>
			</div>
			<div class="category-item__about">
				<p class="category-item__year">США, 2015</p>
				<a class="category-item__name" href="./single-film-page.html">Зеленый слоник</a>
				<h5 class="category-item__name category-item__name--eng">English name</h5>
				<h6 class="category-item__authors">name director</h6>
				<a href="./single-film-page.html" class="btn category-item__btn">
					<i class="category-item__icon fa fa-play" aria-hidden="true"></i>
					<span>Смотреть</span>
				</a>
			</div>
		</article>
		<article class="category__item category-item">
			<div class="category-item__cover">
				<div class="category-item__img">
					<img src="images/green.jpg" alt="Зеленый слоник">
				</div>
			</div>
			<div class="category-item__about">
				<p class="category-item__year">США, 2015</p>
				<a class="category-item__name" href="./single-film-page.html">Зеленый слоник</a>
				<h5 class="category-item__name category-item__name--eng">English name</h5>
				<h6 class="category-item__authors">name director</h6>
				<a href="./single-film-page.html" class="btn category-item__btn">
					<i class="category-item__icon fa fa-play" aria-hidden="true"></i>
					<span>Смотреть</span>
				</a>
			</div>
		</article>
		<article class="category__item category-item">
			<div class="category-item__cover">
				<div class="category-item__img">
					<img src="images/green.jpg" alt="Зеленый слоник">
				</div>
			</div>
			<div class="category-item__about">
				<p class="category-item__year">США, 2015</p>
				<a class="category-item__name" href="./single-film-page.html">Зеленый слоник</a>
				<h5 class="category-item__name category-item__name--eng">English name</h5>
				<h6 class="category-item__authors">name director</h6>
				<a href="./single-film-page.html" class="btn category-item__btn">
					<i class="category-item__icon fa fa-play" aria-hidden="true"></i>
					<span>Смотреть</span>
				</a>
			</div>
		</article>
	</div>
	//= ./_category-pagination.html
</section>