//Хлебные крошки
.breadcrumbs
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: flex-start
	align-items: center
	padding: 40px 0 0 0
	font-size: 14px
	+media($small)
		font-size: 10px
		padding: 25px 15px 0 15px
	&__link
		margin: 0 13px
		overflow: hidden
		white-space: nowrap
		text-decoration: none
		text-overflow: ellipsis
		&:first-child
			margin-left: 0
		&:hover
			color: black
			text-decoration: underline
	&__current
		margin-left: 13px
		color: $mainColor
		overflow: hidden
		white-space: nowrap
		text-overflow: ellipsis
		transition: all .1s ease-in-out

//Пагинация в поиске
.search-pagination
	color: black
	a
		text-decoration: none
		&:hover
			color: $mainColor
	&--active
		color: $mainColor

//Прелоадер
.preloader-block
	display: block
	position: fixed
	top: 0
	right: 0
	left: 0
	bottom: 0
	width: 100%
	height: 100%
	background-color: white
	opacity: .8
	z-index: 100500
.preloader-block__anim
	display: block
	position: relative
	top: 40%
	width: 100px
	height: 100px
	margin: 0 auto

//Кнопка наверх
.scroll-up
	position: fixed
	display: none
	right: 50px
	bottom: 50px
	font-size: 3.5em
	color: $mainColor
	cursor: pointer
	opacity: .7
	transition: .5s
	&:hover
		opacity: 1

//Пагинация, если js не работает
.sticky-pagination
	height: 100% !important

ul.pagination
	padding: 0
	li
		display: inline-block
		margin-right: 10px
	li
		&:first-child
			display: none
		&:last-child
			display: none
	.active
		a
			color: $mainColor
		a
			&:hover
				color: $mainColor
.rating-page__head
	margin-left: 10px
	font-size: 1.5em
.film-rating-page__link
	text-decoration: none

//Spoiler
.spoiler

	&__link
		margin: 10px 0
		text-decoration: underline
		cursor: pointer
		&:hover, &:focus
			box-shadow: none

	&__content
		display: none
		padding: 20px
		margin: 15px 0 15px 0
		background-color: #f4f4f4
		border-radius: 3px
