.category-grid
	position: relative
	display: flex
	flex-direction: row
	justify-content: flex-start
	align-items: flex-start
	padding-top: 40px
	+media($small)
		flex-wrap: wrap
	&__item
		flex-basis: 33%
		position: relative
		display: block
		margin-right: 40px
		height: 300px
		+media($large)
			height: 200px
		+media($medium)
			height: 170px
		+media($small)
			flex-basis: 100%
			height: 250px
			margin-right: 0
			margin-bottom: 25px
		&:last-child
			margin-right: 20px
			+media($small)
				flex-basis: 100%
				margin-right: 0
		&::after
			content: ""
			position: absolute
			top: 3%
			right: -6px
			width: 5px
			height: 95%
			background-color: #535353
			z-index: -1
			+media($small)
				display: none
		&::before
			content: ""
			position: absolute
			top: 6%
			right: -12px
			width: 5px
			height: 90%
			background-color: #535353
			z-index: -1
			+media($small)
				display: none
.category-unit
	color: white
	text-decoration: none
	+media($medium)
		font-size: 14px
	&:hover
		color: white
	&:hover .category-unit__info-wrapper
		opacity: 1
	&:hover .category-unit__paranja
		background-color: rgba(black, .7)
	&__info-wrapper
		position: relative
		padding: 10px 10px 20px 20px
		opacity: 0
		overflow: hidden
		transition: all .3s ease-in-out
		z-index: 15
		+media($large)
			opacity: 1
	&__name
		position: relative
		padding: 20px 20px 0 20px
		margin: 0
		z-index: 15
		+media($large)
			font-size: 16px
		+media($medium)
			font-size: 14px
		+media($small)
			font-size: 22px
	&__eng-name
		margin-top: 0
		margin-bottom: 10px
		+media($small)
			font-size: 14px
	&__year
		margin-top: 10px
	&__descr
		margin-top: 10px
		+media($large)
			display: none
		p
			margin: 0
	&__paranja
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		background-color: rgba(black, .35)
		transition: all .3s ease-in-out
		z-index: 10
		+media($large)
			background-color: rgba(black, .2)