// Карточки в секциях категорий на главной странице
.category-grid
	position: relative
	display: flex
	flex-direction: row
	justify-content: flex-start
	align-items: flex-start
	padding-top: 40px
	+media($small)
		flex-wrap: wrap
	&__item
		flex-basis: 33%
		position: relative
		display: block
		margin-right: 40px
		height: 380px
		+media($laptop)
			height: 240px
			margin-right: 25px
		+media($small)
			flex-basis: 100%
			height: 250px
			margin-right: 0
			margin-bottom: 25px
		&:last-child
			margin-right: 20px
			+media($small)
				flex-basis: 100%
				margin-right: 0

.category-unit
	position: relative
	color: white
	text-decoration: none
	border-radius: 5px
	overflow hidden
	background-position: center
	background-size: cover
	background-repeat: no-repeat
	&:hover
		box-shadow: 0 5px 15px #8a8a8a
		color: white
	&::after
		content: ""
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		border-radius: 5px
		background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.5))
	&__info-wrapper
		position: absolute
		bottom: 0
		width: 100%
		padding: 15px
		border-bottom-left-radius: 5px
		border-bottom-right-radius: 5px
		overflow hidden
		z-index: 15
	&__title
		margin: 0
		font-size: 20px
		font-weight: 800
		+media($laptop)
			font-size: 18px
		+media($medium)
			font-size: 16px
	&__caption
		margin: 5px 0 0 0
		font-size: 13px
