// Карточки в главном слайдере на главной странице
.category-grid
	position: relative
	display: flex
	flex-direction: row
	justify-content: flex-start
	align-items: flex-start
	padding-top: 40px
	&__item
		display: block
		width: 100%
		height: 400px
		&:last-child
			margin-right: 0
		+media($medium)
			height: 350px

.category-unit
	position: relative
	color: white
	text-decoration: none
	border-radius: 6px
	overflow: hidden
	background-position: center
	background-size: cover
	background-repeat: no-repeat
	&:hover
		box-shadow: 0 6px 16px #8a8a8a
		color: white
	&::after
		content: ""
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		border-radius: 6px
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8))
	&__info-wrapper
		position: absolute
		bottom: 0
		width: 100%
		padding: 16px
		overflow: hidden
		z-index: 15
	&__title
		margin: 6px 0
		font-size: 20px
		font-weight: bold
		+media($laptop)
			font-size: 18px
		+media($medium)
			font-size: 16px
	&__caption
		margin: 0
		font-size: 12px