.film-page
	position: relative
	display: flex
	justify-content: center
	align-items: stretch
	color: white
	background-color: black
	overflow: hidden
	&__inner
		max-width: 1024px
		margin: 0
		padding-bottom: 100px
		overflow: hidden
		z-index: 10
	&__breadcrumbs
		.breadcrumbs
			padding: 25px 0
		.breadcrumbs__link
			color: white
		.breadcrumbs__current
			max-width: 150px
			color: $altColor
			+media($medium)
				max-width: 250px
			&:hover
				max-width: 100%
		.wrapper
			width: auto
	&__header
		margin: 25px 0
		+media($medium)
			margin: 0 0 25px 0
	&__title
		margin: 0 0 15px 0
		font-size: 40px
		line-height: 1
		&_main
			font-family: $rubik
			font-weight: bolder
		&_size_m
			font-size: 18px
		&_size_s
			margin-bottom: 10px
			font-size: 14px
	&__cover
		position: relative
		width: 100%
		height: 0
		margin-bottom: 50px
		padding-bottom: 135%
		background-color: $lightGrayState
		+media($laptop)
			display: none
		img
			position: absolute
			display: block
			top: 0
			left: 0
			width: 100%
			height: 100%
			border-radius: 5px
	&__paranja
		position: absolute
		top: 0
		right: 0
		left: 0
		bottom: 0
		opacity: .3
		background-position: top center
		background-size: cover
		background-repeat: no-repeat
		filter: blur(25px)
		transform: scale(1.1)
		z-index: 5

.film-page-header
	display: flex
	justify-content: space-between
	+media($medium)
		flex-direction: column
		align-items: flex-start
	&__column
		min-width: 150px
		&_align_right
			text-align: right
			+media($medium)
				text-align: left

.film-page-body
	display: flex
	justify-content: space-between
	align-items: stretch
	+media($laptop)
		flex-direction: column
	&__column
		margin-right: 50px
		&:last-child
			margin-right: 0
		+media($laptop)
			margin-right: 0
		&_30
			width: 30%
			+media($laptop)
				width: 100%
		&_70
			width: 70%
			+media($laptop)
				order: -1
				width: 100%
				margin-bottom: 50px

.film-tabs
	&__body
		position: relative
	&__inner
		position: relative
		width: 100%
		height: 500px
		z-index: 2
		+media($laptop)
			height: 400px
		+media($medium)
			height: 300px
		iframe
			width: 100%
			height: 100%
	&__cover
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		z-index: 5
		background-size: cover
		background-position: center
		cursor: pointer
		&:hover
			&::before
				transform: scale(1.2)
		&::after
			content: ""
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			opacity: .3
			background-color: black
			z-index: 5
		&::before
			content: ""
			position: absolute
			top: calc(50% - 10px)
			left: calc(50% - 20px)
			height: 30px
			width: 40px
			border-top: 20px solid transparent
			border-bottom: 20px solid transparent
			border-left: 30px solid white
			transition: transform .2s ease-in-out
			transform-origin: left
			z-index: 6
	&__preloader
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-size: cover
		background-position: center
		cursor: default
		z-index: 0
		&::after
			content: ""
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			opacity: .3
			background-color: black
			z-index: 1
		&::before
			content: ""
			position: absolute
			top: calc(50% - 20px)
			left: calc(50% - 20px)
			height: 50px
			width: 50px
			border: 5px solid white
			border-top: 5px solid $altColor
			border-radius: 100%
			animation: rotate 1s infinite linear
			z-index: 2
	&__nav
		position: relative
		display: flex
		+media($medium)
			order: 1
			width: 100%
			margin-top: 30px
	&__nav-item
		left: 0
		display: flex
		align-items: center
		transition: color .3s ease-in-out
		&:hover, &:focus
			color: $altColor
			box-shadow: none
		+media($medium)
			display: block
			width: 100%
			height: 45px
			text-align: center
			background-color: $mainColor
			border-radius: 3px
		&.is-active
			display: none
		.fa
			margin-right: 10px
			font-size: 20px
	&__footer
		display: flex
		align-items: center
		justify-content: space-between
		margin-top: 25px
		text-align: right
		+media($medium)
			margin-top: 25px
			flex-direction: column
			align-items: flex-start
	&__link
		color: $mainColor
		opacity: .5
		transition: .3s ease-in-out
		transition-property: color, opacity
		cursor: pointer
		&:hover, &:focus
			opacity: 1
			color: $mainColor
			box-shadow: none
		.fa
			margin-left: 10px

.film-info
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: flex-start
	align-items: flex-start
	padding-top: 50px
	+media($small)
		flex-wrap: wrap
	&__left
		flex-basis: 250px
		padding-right: 50px
		+media($large)
			padding-right: 20px
		+media($small)
			flex-basis: 100%
			padding: 0
	&__right
		flex-basis: 700px
		padding: 0 20px 40px 20px
		flex-grow: 1
		+media($large)
			flex-basis: 500px
		+media($small)
			flex-basis: 100%
			margin-bottom: 40px
			padding: 0

.table
	width: 100%
	margin-bottom: 25px
	&__row
		+media($small)
			border-bottom: 1px solid #e5e5e5
	&__type
		vertical-align: top
		width: 50%
		padding-right: 10px
		padding-bottom: 15px
		font-size: 12px
		color: #888
		+media($small)
			width: 20%
			padding: 10px 10px 10px 0
			font-size: 14px
	&__value
		vertical-align: top
		width: 50%
		padding-bottom: 15px
		font-size: 12px
		+media($small)
			width: 80%
			padding: 10px 0 10px 10px
			font-size: 14px

// Report form
.report-film-form
	color: $gray
	&__input
		height: 45px
		margin-bottom: 10px
	&__btn
		color: $gray
		background-color: white
		&:hover, &:focus
			color: $gray
			border: 1px solid $lightGrayState

// Like & Dislike
.rating-film
	margin-bottom: 50px
	overflow: hidden
	&--develop
		height: 80px
		line-height: 80px
		color: black
		text-align: center
		background-color: #f8f8f8
		opacity: .5
.likedislike
	margin: 0 auto !important

// Share buttons
.social-likes
	display: flex !important
	align-items: center !important
	justify-content: center !important
	height: auto !important
	min-height: initial !important
	&--develop
		height: 40px
		line-height: 40px
		color: black
		text-align: center
		background-color: #f8f8f8
		opacity: .5

// Disqus
.comments
	margin-bottom: 50px
.disqus-block
	margin-bottom: 50px
	+media($laptop)
		margin-bottom: 0
	&--develop
		min-height: 560px
		color: white
		text-align: center
		background-color: black
		opacity: .5
