.film-page
	position: relative
	display: flex
	justify-content: center
	align-items: stretch
	color: white
	background-color: black
	overflow: hidden
	&__inner
		max-width: 1024px
		padding-bottom: 100px
		overflow: hidden
		z-index: 10
	&__breadcrumbs
		.breadcrumbs
			padding: 25px 0
		.breadcrumbs__link
			color: white
		.breadcrumbs__current
			max-width: 150px
			color: $altColor
			&:hover
				max-width: 100%
	&__header
		margin: 25px 0
	&__title
		margin: 0 0 15px 0
		font-size: 40px
		line-height: 1
		&_main
			font-family: $rubik
			font-weight: bolder
		&_size_m
			font-size: 18px
		&_size_s
			margin-bottom: 10px
			font-size: 14px
	&__cover
		position: relative
		width: 300px
		max-width: 300px
		height: 0
		margin-bottom: 50px
		padding-bottom: 135%
		background-color: $lightGrayState
		img
			position: absolute
			display: block
			top: 0
			left: 0
			width: 100%
			height: 100%
			border-radius: 5px
	&__paranja
		position: absolute
		top: 0
		right: 0
		left: 0
		bottom: 0
		opacity: .3
		background-position: top center
		background-size: cover
		background-repeat: no-repeat
		filter: blur(25px)
		transform: scale(1.1)
		z-index: 5

.film-page-header
	display: flex
	justify-content: space-between
	&__column
		min-width: 150px
		&_align_right
			text-align: right

.film-page-body
	display: flex
	justify-content: space-between
	align-items: stretch
	&__column
		margin-right: 50px
		&:last-child
			margin-right: 0
	&__frame
		width: 674px
		height: 500px

.film-tabs
	&__nav
		position: relative
		display: flex
	&__nav-item
		left: 0
		display: flex
		align-items: center
		transition: color .3s ease-in-out
		&:hover
			color: $altColor
			box-shadow: none
		&.is-active
			display: none
		.fa
			margin-right: 10px
			font-size: 20px
	&__body
		position: relative
	&__inner
		position: relative
		width: 674px
		height: 500px
		z-index: 2
		iframe
			width: 100%
			height: 100%
	&__cover
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-size: cover
		background-position: center
		z-index: 0
		&::after
			content: ""
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			opacity: .3
			background-color: black
			z-index: 1
	&__footer
		display: flex
		align-items: center
		justify-content: space-between
		margin-top: 25px
		text-align: right
	&__link
		color: $mainColor
		opacity: .5
		transition: .3s ease-in-out
		transition-property: color, opacity
		cursor: pointer
		&:hover, &:focus
			opacity: 1
			color: $mainColor
		.fa
			margin-left: 10px

.film-info
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: flex-start
	align-items: flex-start
	padding-top: 50px
	+media($small)
		flex-wrap: wrap
	&__left
		flex-basis: 250px
		padding-right: 50px
		+media($large)
			padding-right: 20px
		+media($small)
			flex-basis: 100%
			padding: 0
	&__right
		flex-basis: 700px
		padding: 0 20px 40px 20px
		flex-grow: 1
		+media($large)
			flex-basis: 500px
		+media($small)
			flex-basis: 100%
			margin-bottom: 40px
			padding: 0

.table
	width: 100%
	margin-bottom: 25px
	&__row
		+media($small)
			border-bottom: 1px solid #e5e5e5
	&__type
		vertical-align: top
		width: 50%
		padding-right: 10px
		padding-bottom: 15px
		font-size: 12px
		color: #888
		+media($small)
			width: 20%
			padding: 10px 10px 10px 0
			font-size: 14px
	&__value
		vertical-align: top
		width: 50%
		padding-bottom: 15px
		font-size: 12px
		+media($small)
			width: 80%
			padding: 10px 0 10px 10px
			font-size: 14px

// Report form
.report-film-form
	color: $gray
	&__input
		height: 45px
		margin-bottom: 10px
	&__btn
		color: $gray
		background-color: white
		&:hover, &:focus
			color: $gray
			border: 1px solid $lightGrayState

// Like & Dislike
.rating-film
	margin-bottom: 25px
	overflow: hidden
	&--develop
		width: 300px
		height: 80px
		line-height: 80px
		color: black
		text-align: center
		background-color: #f8f8f8
		opacity: .5

// Share buttons
.social-likes
	&--develop
		width: 300px
		height: 40px
		line-height: 40px
		color: black
		text-align: center
		background-color: #f8f8f8
		opacity: .5

// Disqus
.disqus-block
	margin-bottom: 50px
	+media($laptop)
		margin-bottom: 0
	&--develop
		min-height: 560px
		color: white
		text-align: center
		background-color: black
		opacity: .5
