body
	font-size: 16px
	+media($small)
		overflow-x: hidden

h1, h2, h3, h4, h5, h6
	font-family: $mainFont
	font-weight: normal
	margin: 15px 0 15px 0

p
	margin: 15px 0 15px 0
	line-height: 1.5

ul
	padding: 0

ul li
	list-style: none
	transition: 0.3s

	a
		text-decoration: none
		&:hover
			color: $mainColor

a
	font-family: $mainFont
	color: black
	transition: 0.3s
	&:hover
		color: $mainColor

p
	font-family: $textFont
	font-weight: normal

button
	border: none
	background-color: transparent
	transition: all .3s ease-in-out
	&:focus
		outline: none
		box-shadow: 0 0 3px #000
	&:hover
		box-shadow: 0 0 3px #000

input
	border: 1px solid $lightGray
	outline: none
	transition: all .3s ease-in-out
	&:focus
		border: 1px solid $altColor

input[type="submit"]
	&:focus
		border-radius: 3px
		border: 1px solid $lightGrayState

textarea
	border: 1px solid $lightGray
	outline: none
	transition: all .3s ease-in-out
	&:focus
		border: 1px solid $altColor

label
	margin-bottom: 5px

// Helpers
.cf
	+clearfix

.visuallyhidden
	border: 0
	clip: rect(0 0 0 0)
	height: 1px
	margin: -1px
	overflow: hidden
	padding: 0
	position: absolute
	width: 1px

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus
	clip: auto
	height: auto
	margin: 0
	overflow: visible
	position: static
	width: auto

.is-cropped
	overflow: hidden !important

//Модально окно для всего
.modal-bg-layer
	display: none
	position: fixed
	left: 0
	top: 0
	width: 100%
	height: 100%
	background-color: rgba(0, 0, 0, 0.6)
	z-index: 100499

.modal-body
	display: none
	width: 900px
	height: 480px
	top: 50%
	margin-top: -240px
	left: 0
	right: 0
	margin-left: auto
	margin-right: auto
	position: fixed
	z-index: 100500
	+media($large)
		top: 70%
		width: 60%
		height: 300px
	+media($medium)
		top: 80%
		width: 70%
		height: 200px
	+media($small)
		width: 90%

	iframe
		width: 100%
		height: 100%

	.modal-body__close-btn
		position: fixed
		font-size: 2em
		color: $mainColor
		top: 20px
		right: 50px
		cursor: pointer
		transition: .3s
		&:hover
			text-shadow: 0 0 3px #000
		+media($medium)
			right: 5px

//????????????
.film-rating-page--search-result
	position: relative
	padding: 10px
	margin: 10px 0px 50px 0px
	min-height: 200px

	.rp__img
		img
			width: 100%
			float: left
			max-height: 200px
			+media($large)
				float: left
				width: 50%
			+media($small)
				width: 100%
				max-height: 100%

// Линии справа от блока
.decor-lines
	&::after
		content: ""
		position: absolute
		top: 3%
		right: -6px
		width: 5px
		height: 95%
		background-color: #535353
		// z-index: -1
		+media($small)
			display: none
	&::before
		content: ""
		position: absolute
		top: 6%
		right: -12px
		width: 5px
		height: 90%
		background-color: #535353
		+media($small)
			display: none

// Input error class
.ajax_form

	.error
		border: 2px solid red !important
		color: black !important
