.header
	min-width: 100%
	height: 100%
	margin-bottom: 40px
	border-bottom: 1px solid #E5E5E5
	+media($medium)
		margin-bottom: 10px
	&__inner
		display: flex
		flex-direction: row
		justify-content: space-between
		align-items: center
		align-content: center
		min-height: 100px
		height: 100px // for IE10
		+media($xsSmall)
			flex-wrap: wrap
			align-items: flex-start
			height: 150px // for IE10
			padding: 0 15px 0 15px
	&__logo
		font-size: 32px
		color: $orangeColor
		+media($medium)
			font-size: 28px
			margin-right: 25px
		+media($xsSmall)
			order: 1
			margin-right: 0
	&__site-name
		position: relative
		display: block
		margin: 0
		text-decoration: none
		font-family: $mainFont
		font-weight: bold
		letter-spacing: -1px
		color: $orangeColor
		&:hover
			color: $orangeColor
	&__slogan
		display: block
		margin-left: 2px
		font-size: 12px
		font-family: $mainFont
		font-weight: bold
		cursor: default
	&__search
		flex-basis: 50%
		+media($medium)
			flex-basis: 65%
		+media($xsSmall)
			order: 3
			flex-basis: 100%
			margin-top: 25px
			margin-right: auto
			margin-left: auto
		.search-form--fieldset
			width: 100%
		.search-form__input
			display: inline-block
			vertical-align: top
			width: 70%
			height: 35px
			padding-left: 10px
			border-radius: 3px
			border: 1px solid $lightGray
			outline: none
			-webkit-appearance: none // remove shadow on web-kit safari
			+media($medium)
				width: 50%
			+media($xsSmall)
				width: 65%
		.btn-all--search-btn
			display: inline-block
			vertical-align: top
			width: 25%
			height: 35px
			margin-left: -10px
			color: black
			background-color: white
			border: 1px solid $lightGray
			border-radius: 3px
			outline: none
			opacity: 1
			+media($medium)
				width: 33%
	&__menu-triger
		z-index: 20
		+media($xsSmall)
			order: 2
.menu-triger
	display: flex
	flex-direction: row
	justify-content: center
	align-items: center
	min-height: 35px
	height: 35px // for IE10
	padding: 0 15px
	border-radius: 3px
	cursor: pointer
	&__icon
		margin-right: 7px
		span
			display: block
			height: 2px
			width: 11px
			margin-bottom: 4px
			background-color: black
			transition: 0.3s
		&::before
			content: ""
			display: block
			height: 2px
			width: 15px
			margin-bottom: 4px
			transition: 0.3s
			background-color: black
		&::after
			content: ""
			display: block
			height: 2px
			width: 13px
			transition: 0.3s
			background-color: black
	&--active
		background-color: #e8e8e8
.menu
	display: none
	position: absolute
	top: 80px
	left: 0
	right: 0
	padding: 0
	width: 100%
	margin-right: auto
	margin-left: auto
	text-align: center
	border-bottom: 1px solid #E5E5E5
	z-index: 15
	background-color: white
	+media($xsSmall)
		position: absolute
		top: -20px
		width: 100%
		height: 100%
		padding-top: 50px
		border: none
		box-shadow: 0 0 10px #000
	&__item
		float: left
		width: 24%
		height: 100px
		padding-top: 3%
		text-align: center
		background-color: white
		+media($medium)
			width: 20%
			margin-right: 5%
		+media($xsmall)
			font-size: 15px
		+media($xsSmall)
			width: 100%
		&:hover
			background-color: $hoverColor
	&__link
		color: black
	&__icon
		margin: 10px
		font-size: 19px
		+media($medium)
			float: left
			margin: 0px
		+media($xsmall)
			float: none
			margin-right: 10px
			font-size: 16px