.spoiler__link {
	margin: 10px 0;
	text-decoration: underline;
	cursor: pointer;
}

.spoiler__link:hover,
.spoiler__link:focus {
	box-shadow: none;
}

.spoiler__content {
	display: none;
	padding: 20px;
	margin: 15px 0 15px 0;
	background-color: #f4f4f4;
	border-radius: 3px;
}