//Fonts
$mainFont: Arial, Helvetica, sans-serif
$textFont: Arial, Helvetica, sans-serif
$hFont: 'Arial' // TODO: Remove

//Colors
$mainColor: #ff4e00
$hoverColor: white
$linkColor: white
$orangeColor: #ff4e00 // TODO: Remove
$lightGray: rgba(0,0,0,.2)
$lightGrayState: rgba(0,0,0,.5)

//Media Queries
$xsmall: new-breakpoint(max-width 750px)
$xsSmall: new-breakpoint(max-width 600px)
$superSmall: new-breakpoint(max-width 400px)

//New Media Queries vars
$medium: new-breakpoint(max-width 970px)
