//Fonts
$mainFont: Arial, Helvetica, sans-serif
$textFont: Arial, Helvetica, sans-serif

//Colors
$mainColor: #ff4e00
$altColor: #36bc49
$lightGray: rgba(0,0,0,.2)
$lightGrayState: rgba(0,0,0,.5)

//Media Queries Vars
$large: new-breakpoint(max-width 1279px)
$laptop: new-breakpoint(max-width 1023px)
$medium: new-breakpoint(max-width 750px)
$small: new-breakpoint(max-width 600px)
$tiny: new-breakpoint(max-width 400px)
