<main class="l-section l-section--film-page" itemscope itemtype="http://schema.org/Movie">
	<section class="film-hero" style="background-image: url('images/green.jpg');">
		<div class="film-hero__inner">
			//= ../../blocks/_breadcrumbs.html
			<div class="film-hero__info">
				<div class="film-hero__year">Россия, 1999</div>
				<h1 class="film-hero__head" itemprop="name">Зеленый слоник</h1>
				<h2 class="film-hero__eng-name" itemprop="alternativeHeadline">Green Elephant</h2>
			</div>
			<div class="film-hero__btns">
				<button class="btn btn-all--watch-trailer film-hero__btn" data-trailer="<iframe src='https://www.youtube.com/embed/HunbC4UEWMg' frameborder='0' allowfullscreen></iframe>">
					Трейлер
				</button>
				<button class="btn btn-all--watch-film film-hero__btn" data-film="<iframe src='https://www.youtube.com/embed/HunbC4UEWMg' frameborder='0' allowfullscreen></iframe>" frameborder="0">
					<i class="fa fa-play" aria-hidden="true"></i>Смотреть бесплатно
				</button>
			</div>
			<div class="rating-film rating-film--develop">
				<span>Оцените фильм</span>
			</div>
			<div class="social-likes social-likes--develop">
				<span>Поделиться фильмом</span>
				<span>Share btns</span>
			</div>
		</div>
	</section>
	<section class="film-info l-section__inner wrapper">
		<div class="film-info__left">
			<div class="film-info__cover">
				<img src="images/film-cover.jpg" itemprop="image" alt="Зеленый слоник">
			</div>
			<div class="film-info__table-wrapper">
				<table class="table film-info__table">
					<tbody>
						<tr class="table__row">
							<td class="table__type">Год</td>
							<td class="table__value" itemprop="datePublished">1992</td>
						</tr>
						<tr class="table__row">
							<td class="table__type">Режиссер</td>
							<td class="table__value" itemprop="director">Светлана Баскова</td>
						</tr>
						<tr class="table__row">
							<td class="table__type">Продюссер</td>
							<td class="table__value">Олег Мавромати</td>
						</tr>
						<tr class="table__row">
							<td class="table__type">Страна</td>
							<td class="table__value">Россия</td>
						</tr>
						<tr class="table__row">
							<td class="table__type">Время</td>
							<td class="table__value" itemprop="duration">86 мин</td>
						</tr>
						<tr class="table__row">
							<td class="table__type">Оператор</td>
							<td class="table__value">Светлана Баскова</td>
						</tr>
						<tr class="table__row">
							<td class="table__type">Сценарий</td>
							<td class="table__value">Светлана Баскова</td>
						</tr>
						<tr class="table__row">
							<td class="table__type">Слоган </td>
							<td class="table__value">Чисти на! Раз! Раз! Раз! Раз!</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="film-info__right" itemprop="description">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro sed vero totam, fuga aliquid, ex beatae autem, eveniet
				iste quas asperiores unde ratione! Inventore earum, nisi quas fugiat assumenda eveniet amet error facere, placeat in
				id magni quo impedit quibusdam, ducimus omnis voluptate perferendis tempora qui explicabo nulla quaerat sapiente recusandae.
				Tenetur dolorem magnam asperiores adipisci facere officiis doloribus totam delectus, velit quod excepturi animi accusamus
				incidunt maxime dignissimos libero odio ipsa laudantium, laboriosam ipsum. Atque recusandae ipsum, quia a nihil eius
				excepturi omnis tenetur! Et voluptatum accusamus molestias ea, ut culpa, iste cum minus aliquam dolorum. Quos, autem,
				et.
			</p>
			<a class="spoiler-link">Альтернативный обзор</a>
			<div class="spoiler-content">
				<p>Какая первая мысль приходит в воспалённый разум типичного Российского режиссёра? Конечно же сделать ремейк советского
					фильма.</p>
				<p>Ремейк кавказкой пленницы настолько плох, что даже на торрентах его сложно найти. И только спустя более года с момента
					выхода в прокат эти ублюдки выпустили DVD с этим куском говна.</p>
				<p>Снял этот "шедевр" Максим Воронков, запомните это имя. И если увидите на улице, обязательно обоссыте этого обмудка.</p>
				<p>"Фильм" сюжетно полностью повторяет Кавказскую пленницу Гайдая. ПОЛНОСТЬЮ. И спрашивается, кто тот мудак, который числиться
					сценаристом? Естественно даже до минимального порога качества этот шлак не доходит. Отвратительная игра актеров (ублюдские
					лица с ТНТ и не только), не смешные шутки и омерзительный саундтрек. Бюджет распилен. Все молодцы.</p>
				<p>Этот "фильм" позор во всех смыслах. Так зашкварится могли только полные имбицилы. Бюджет 3.5 миллиона !долларов!, сборы
					в России - 200 тысяч. Так же это один из немногих, кто приблизился к минимальной оценке на кинопоиске - 1.1/10 (более
					29000 голосов). Это не то что самый худший росиянский фильм. Кавказская пленница(2014) однозначно входит в топ самых
					худших фильмов вообще.</p>
				<p>Этот "фильм" крайне не рекомендуется к просмотру. НО! Если вы хотите получить целую гамму отрицательных эмоций и знатный
					батхерт, то можете полностью вымазаться этим говном.</p>
				<p>Желаю всем причастным к созданию этого "кино", чтобы их жизнь превратилась в последние 20 минут
					<a href="/luchshie-iz-xudshix/zelenyij-slonik.html" alt="Зеленый слоник" title="Зеленый слоник">Зеленого слоника.</a>
				</p>
			</div>
		</div>
	</section>

	<section class="comments wrapper">
		<div class="disqus-block disqus-block--develop">
			comments
		</div>
	</section>

	<!-- Случайные фильмы -->
	<section class="l-section">
		<div class="l-section__inner wrapper">
			<div class="l-section__head b-head">
				<h2 class="b-head__title">Случайные фильмы</h2>
			</div>
			<div class="grid-film">
				<article class="grid-film__unit grid-film__unit--25">
					<a href="/" class="grid-film__img" style="background-image:url('images/green.jpg');">
						<img class="visuallyhidden" src="images/green.jpg" alt="Человеческая многоножка 2">
					</a>
					<div class="grid-film__info">
						<h3 class="grid-film__info-head">
							<a class="grid-film__info-name-link" href="/">Человеческая многоножка 2</a>
						</h3>
						<h4 class="grid-film__info-eng-name">English name</h4>
						<h5 class="grid-film__info-year">1992</h5>
					</div>
				</article>
				<article class="grid-film__unit grid-film__unit--25">
					<a href="/" class="grid-film__img" style="background-image:url('http://trashopoisk.com/assets/images/singham.png');"></a>
					<div class="grid-film__info">
						<h3 class="grid-film__info-head">
							<a class="grid-film__info-name-link" href="/">Человеческая многоножка 2</a>
						</h3>
						<h4>English name</h4>
						<h5>1992</h5>
					</div>
				</article>
				<article class="grid-film__unit grid-film__unit--25">
					<a href="/" class="grid-film__img" style="background-image:url('http://trashopoisk.com/assets//images/vizit.jpg');"></a>
					<div class="grid-film__info">
						<h3 class="grid-film__info-head">
							<a class="grid-film__info-name-link" href="/">Человеческая многоножка 2</a>
						</h3>
						<h4>English name</h4>
						<h5>1992</h5>
					</div>
				</article>
				<article class="grid-film__unit grid-film__unit--25">
					<a href="/" class="grid-film__img" style="background-image:url('images/green.jpg');"></a>
					<div class="grid-film__info">
						<h3 class="grid-film__info-head">
							<a class="grid-film__info-name-link" href="/">Человеческая многоножка 2</a>
						</h3>
						<h4>English name</h4>
						<h5>1992</h5>
					</div>
				</article>
			</div>
		</div>
	</section>
	<!-- Случайные фильмы -->

	<div class="modal-bg-layer"></div>
	<div class="modal-body">
		<div class="modal-body__close-btn">
			<i class="fa fa-times"></i>
		</div>
		<div class="film-report-form-link">Не работает!?</div>
	</div>
	<div class="report-film-form">
		<div class="report-film-form__close">
			<i class="fa fa-times"></i>
		</div>
		<p class="report-film-form__head">Нажмите отправить, если видео не работает</p>
		<form action="">
			<input class="report-film-form__input" type="text" placeholder="Название фильма">
			<input type="submit" class="btn-all btn-all--film-report" value="Отправить">
		</form>
	</div>
</main>
