<main class="l-section l-section--film-page" itemscope itemtype="http://schema.org/Movie">
	<section class="film-page">
		<div class="film-page__inner wrapper">
			<div class="film-page__breadcrumbs">
				//= ../../blocks/_breadcrumbs.html
			</div>
			<div class="film-page-header film-page__header">
				<div class="film-page-header__column">
					<h1 class="film-page__title  film-page__title_main js-film-name" itemprop="name">Зеленый слоник</h1>
					<h2 class="film-page__title film-page__title_size_m" itemprop="alternativeHeadline">Green Elephant Green</h2>
				</div>
				<div class="film-page-header__column film-page-header__column_align_right">
					<div class="film-page__title film-page__title_size_s">Россия</div>
					<div class="film-page__title film-page__title_size_s">1999</div>
					<div class="film-page__title film-page__title_size_s">
						<i class="fa fa-clock-o" aria-hidden="true"></i>
						<span>86 мин</span>
					</div>
				</div>
			</div>
			<div class="film-page-body film-page__body">
				<div class="film-page-body__column">
					<div class="film-page__cover">
						<img src="https://trashopoisk.com/assets/images/covers/absofdeath-cover.jpg" itemprop="image" alt="Зеленый слоник">
					</div>
					<div class="rating-film rating-film--develop">
						<span>Оцените фильм</span>
					</div>
					<div class="social-likes social-likes--develop">
						<span>Поделиться фильмом</span>
					</div>
				</div>
				<div class="film-page-body__column">
					<div class="film-tabs">
						<div class="film-tabs__body js-iframe-place">
							<iframe class="js-trailer" width="560" height="315" src="https://www.youtube.com/embed/2w82_SE5LKQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
						<div class="film-tabs__footer">
							<div class="film-tabs__nav">
								<button class="film-tabs__nav-item is-active js-video-switcher" type="button" data-frame="<iframe src='https://www.youtube.com/embed/XdhtPt2yVB4' frameborder='0' allowfullscreen></iframe>">
									<i class="fa fa-film"></i>
									<span>Фильм</span>
								</button>
								<button class="film-tabs__nav-item js-video-switcher" type="button" data-frame="<iframe src='https://www.youtube.com/embed/HunbC4UEWMg' frameborder='0' allowfullscreen></iframe>" frameborder="0">
									<i class="fa fa-play"></i>
									<span>Трейлер</span>
								</button>
							</div>
							<div class="film-tabs__link js-film-report-form-trigger">
								<span>Сообщить о проблеме с видео</span>
								<i class="fa fa-warning"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
<!--			<button class="btn btn&#45;&#45;main film-page__btn" type="button" data-frame="<iframe src='https://www.youtube.com/embed/HunbC4UEWMg' frameborder='0' allowfullscreen></iframe>">-->
<!--				Трейлер-->
<!--			</button>-->
<!--			<button class="btn btn&#45;&#45;alt film-page__btn" type="button" data-frame="<iframe src='https://www.youtube.com/embed/HunbC4UEWMg' frameborder='0' allowfullscreen></iframe>" frameborder="0">-->
<!--				<i class="fa fa-play" aria-hidden="true"></i>Смотреть бесплатно-->
<!--			</button>-->
		</div>
		<div class="film-page__paranja" style="background-image: url('/images/green.jpg');"></div>
	</section>

	<section class="film-info l-section__inner wrapper">
		<div class="film-info__left">
			<div class="film-info__table-wrapper">
				<table class="table film-info__table">
					<tbody>
						<tr class="table__row">
							<td class="table__type">Год</td>
							<td class="table__value" itemprop="datePublished">1992</td>
						</tr>
						<tr class="table__row">
							<td class="table__type">Режиссер</td>
							<td class="table__value" itemprop="director">Светлана Баскова</td>
						</tr>
						<tr class="table__row">
							<td class="table__type">Продюссер</td>
							<td class="table__value">Олег Мавромати</td>
						</tr>
						<tr class="table__row">
							<td class="table__type">Страна</td>
							<td class="table__value">Россия</td>
						</tr>
						<tr class="table__row">
							<td class="table__type">Время</td>
							<td class="table__value" itemprop="duration">86 мин</td>
						</tr>
						<tr class="table__row">
							<td class="table__type">Оператор</td>
							<td class="table__value">Светлана Баскова</td>
						</tr>
						<tr class="table__row">
							<td class="table__type">Сценарий</td>
							<td class="table__value">Светлана Баскова</td>
						</tr>
						<tr class="table__row">
							<td class="table__type">Слоган </td>
							<td class="table__value">Чисти на! Раз! Раз! Раз! Раз!</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="film-info__right" itemprop="description">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro sed vero totam, fuga aliquid, ex beatae autem, eveniet
				iste quas asperiores unde ratione! Inventore earum, nisi quas fugiat assumenda eveniet amet error facere, placeat in
				id magni quo impedit quibusdam, ducimus omnis voluptate perferendis tempora qui explicabo nulla quaerat sapiente recusandae.
				Tenetur dolorem magnam asperiores adipisci facere officiis doloribus totam delectus, velit quod excepturi animi accusamus
				incidunt maxime dignissimos libero odio ipsa laudantium, laboriosam ipsum. Atque recusandae ipsum, quia a nihil eius
				excepturi omnis tenetur! Et voluptatum accusamus molestias ea, ut culpa, iste cum minus aliquam dolorum. Quos, autem,
				et.
			</p>
			<div class="spoiler js-spoiler">
				<button class="spoiler__link js-spoiler-trigger" type="button">Альтернативный обзор</button>
				<div class="spoiler__content js-spoiler-content">
					<p>Какая первая мысль приходит в воспалённый разум типичного Российского режиссёра? Конечно же сделать ремейк советского
						фильма.</p>
					<p>Ремейк кавказкой пленницы настолько плох, что даже на торрентах его сложно найти. И только спустя более года с момента
						выхода в прокат эти ублюдки выпустили DVD с этим куском говна.</p>
					<p>Снял этот "шедевр" Максим Воронков, запомните это имя. И если увидите на улице, обязательно обоссыте этого обмудка.</p>
					<p>"Фильм" сюжетно полностью повторяет Кавказскую пленницу Гайдая. ПОЛНОСТЬЮ. И спрашивается, кто тот мудак, который числиться
						сценаристом? Естественно даже до минимального порога качества этот шлак не доходит. Отвратительная игра актеров (ублюдские
						лица с ТНТ и не только), не смешные шутки и омерзительный саундтрек. Бюджет распилен. Все молодцы.</p>
					<p>Этот "фильм" позор во всех смыслах. Так зашкварится могли только полные имбицилы. Бюджет 3.5 миллиона !долларов!, сборы
						в России - 200 тысяч. Так же это один из немногих, кто приблизился к минимальной оценке на кинопоиске - 1.1/10 (более
						29000 голосов). Это не то что самый худший росиянский фильм. Кавказская пленница(2014) однозначно входит в топ самых
						худших фильмов вообще.</p>
					<p>Этот "фильм" крайне не рекомендуется к просмотру. НО! Если вы хотите получить целую гамму отрицательных эмоций и знатный
						батхерт, то можете полностью вымазаться этим говном.</p>
					<p>Желаю всем причастным к созданию этого "кино", чтобы их жизнь превратилась в последние 20 минут
						<a href="/luchshie-iz-xudshix/zelenyij-slonik.html" title="Зеленый слоник">Зеленого слоника.</a>
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="comments wrapper">
		<div class="disqus-block disqus-block--develop">
			comments
		</div>
	</section>

<!-- Случайные фильмы -->
<section class="l-section">
	<div class="l-section__inner wrapper">
		//= ../common/_grid-film.html
	</div>
</section>
<!-- ///Случайные фильмы -->

	<div class="modal-bg-layer js-popup-paranja"></div>

	<div class="report-film-form js-report-form">
		<div class="report-film-form__close js-report-form-close">
			<i class="fa fa-times"></i>
		</div>
		<p class="report-film-form__head">Нажмите отправить, если видео не работает</p>
		<form action="">
			<input class="report-film-form__input js-report-form-input" type="text" placeholder="Название фильма">
			<input type="submit" class="btn-all btn-all--film-report" value="Отправить">
		</form>
	</div>
</main>
