<div class="b-form">
	<form action="#" method="post">
		<fieldset class="b-form__fieldset">
			<input type="hidden" name="nospam" id="nospam" value="">
			<label class="b-form__label" for="fullname">Ваш никнэйм:</label>
			<input class="b-form__input" type="text" name="fullname" id="fullname" placeholder="Как Вас зовут" value="">
			<span class="b-form__error-text">Это поле требуется.</span>
		</fieldset>
		<fieldset class="b-form__fieldset">
			<label class="b-form__label" for="email">Почта:</label>
			<input class="b-form__input" type="email" name="email" id="email" placeholder="Введите Email" value="">
			<span class="b-form__error-text"></span>
		</fieldset>
		<fieldset class="b-form__fieldset">
			<label class="b-form__label" for="passwd">Пароль:</label>
			<input class="b-form__input" type="password" name="passwd" id="passwd" placeholder="Введите пароль" value="">
			<span class="b-form__error-text"></span>
		</fieldset>
		<fieldset class="b-form__fieldset">
			<label class="b-form__label" for="passwdAgain">Подтвердите пароль:</label>
			<input class="b-form__input" type="password" name="passwdAgain" class="form-control" id="passwdAgain" placeholder="Введите пароль ещё раз" value="">
			<span class="b-form__error-text"></span>
		</fieldset>
		<div class="b-form__btns">
			<input class="btn btn_orange b-form__btn" type="submit" value="Зарегистрироваться" name="submitbtn" id="submitbtn">
		</div>
	</form>
</div>