.table {
	width: 100%;
	margin-bottom: 25px;
}

.table__type {
	vertical-align: top;
	width: 50%;
	padding-right: 10px;
	padding-bottom: 15px;
	font-size: 12px;
	color: #888;
}

.table__value {
	vertical-align: top;
	width: 50%;
	padding-bottom: 15px;
	font-size: 12px;
}

@media (--screen-xs) {
	.table__row {
		border-bottom: 1px solid #e5e5e5;
	}

	.table__type {
		width: 20%;
		padding: 10px 10px 10px 0;
		font-size: 14px;
	}

	.table__value {
		width: 80%;
		padding: 10px 0 10px 10px;
		font-size: 14px;
	}
}