<header class="header">
	<div class="wrapper">
		<div class="logo">
			<a href="" class="site-name">ТрэшоПоиск</a> <br>
			<span class="slogan"></span>
		</div>
		<div class="search">
			<form class="sisea-search-form" action="[[~[[+landing]]]]" method="[[+method]]">
				<fieldset class="search-form--fieldset">
					<input placeholder="Найти фильм" class="search-form__input" type="text" name="[[+searchIndex]]" id="[[+searchIndex]]"/>
					<input type="hidden" name="id" value="[[+landing]]" />
					<input class="btn-all btn-all--search-btn" type="submit" value="Найти" />
				</fieldset>
			</form>
		</div>
		<nav>
			<div class="menu-triger">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<ul class="menu">
				<div class="wrapper">
				<li>
					<i class="fa fa-info"></i>
					<a href="#">Инфо о сайте</a>
				</li>
				<li>
					<i class="fa fa-list"></i>
					<a href="#">Рейтинг фильмов</a>
				</li>
				<li>
					<i class="fa fa-share"></i>
					<a href="#">Предложить Фильм</a>
				</li>
				<li>
					<i class="fa fa-credit-card"></i>
					<a href="#">Поддержать Проект</a>
				</li>
				</div>
			</ul>
		</nav>
	</div>
</header>