<header class="header">
	<div class="header__inner wrapper">
		<div class="header__logo">
			<a href="./index.html" class="header__site-name">ТрэшоПоиск</a>
			<div class="header__slogan">Кетчупа не найдётся?</div>
		</div>
		<div class="header__search">
			<form class="sisea-search-form" action="[[~[[+landing]]]]" method="[[+method]]">
				<fieldset class="search-form--fieldset">
					<input placeholder="Найти фильм" class="search-form__input" type="text" name="[[+searchIndex]]" id="[[+searchIndex]]"/>
					<input type="hidden" name="id" value="[[+landing]]" />
					<input class="btn-all btn-all--search-btn" type="submit" value="Найти" />
				</fieldset>
			</form>
		</div>
		<div class="header__menu-triger">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<nav class="main-navigation">
		<ul class="header__menu menu">
			<div class="menu__inner wrapper">
				<li class="menu__item">
					<i class="menu__icon fa fa-info"></i>
					<a class="menu__link" href="#">Инфо о сайте</a>
				</li>
				<li class="menu__item">
					<i class="menu__icon fa fa-list"></i>
					<a class="menu__link" href="#">Рейтинг фильмов</a>
				</li>
				<li class="menu__item">
					<i class="menu__icon fa fa-share"></i>
					<a class="menu__link" href="#">Предложить Фильм</a>
				</li>
				<li class="menu__item">
					<i class="menu__icon fa fa-credit-card"></i>
					<a class="menu__link" href="#">Поддержать Проект</a>
				</li>
			</div>
		</ul>
	</nav>
</header>