<header class="header">
	<div class="wrapper header__inner">
		<div class="header__logo">
			<a class="header__site-name" href="./index.html">ТрэшоПоиск</a>
			<div class="header__slogan">Кетчупа не найдётся?</div>
		</div>
		<div class="header__search">
			<form class="sisea-search-form search-form" action="[[~[[+landing]]]]" method="[[+method]]">
				<div class="search-form__fieldset">
					<input placeholder="Фильмы, режиссеры, страны" class="search-form__input" type="text" name="[[+searchIndex]]" id="[[+searchIndex]]" />
					<input type="hidden" name="id" value="[[+landing]]" />
					<input class="btn search-form__search-btn" type="submit" value="Найти" />
				</div>
			</form>
		</div>
		<div class="header__links">
			<button class="menu-triger header__menu-triger">
				<div class="menu-triger__icon">
					<span>
						<span class="visuallyhidden">Меню</span>
					</span>
				</div>
				<span>Меню</span>
			</button>
			<a class="header__login" href="/registration.html" type="button">Войти</a>
		</div>
	</div>
	<nav class="header__menu menu">
		<ul class="menu__inner wrapper">
			<li class="menu__item">
				<i class="menu__icon fa fa-info"></i>
				<a class="menu__link" href="#">О сайте</a>
			</li>
			<li class="menu__item">
				<i class="menu__icon fa fa-list"></i>
				<a class="menu__link" href="#">Все фильмы</a>
			</li>
			<li class="menu__item">
				<i class="menu__icon fa fa-share"></i>
				<a class="menu__link" href="#">Предложить Фильм</a>
			</li>
			<li class="menu__item">
				<i class="menu__icon fa fa-credit-card"></i>
				<a class="menu__link" href="#">Поддержать Проект</a>
			</li>
		</ul>
	</nav>
</header>