.film-info {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	padding-top: 50px;
}

.film-info__left {
	flex-basis: 250px;
	padding-right: 50px;
}

.film-info__right {
	flex-basis: 700px;
	padding: 0 20px 40px 20px;
	flex-grow: 1;
}

@media (--screen-xl) {
	.film-info__left {
		padding-right: 20px;
	}

	.film-info__right {
		flex-basis: 500px;
	}
}

@media (--screen-xs) {
	.film-info {
		flex-wrap: wrap;
	}

	.film-info__left {
		flex-basis: 100%;
		padding: 0;
	}

	.film-info__right {
		flex-basis: 100%;
		margin-bottom: 40px;
		padding: 0;
	}
}