.social-likes {
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	height: auto !important;
	min-height: initial !important;
}

.social-likes--develop {
	height: 40px;
	line-height: 40px;
	color: black;
	text-align: center;
	background-color: #f8f8f8;
	opacity: .5;
}