//Fonts
$logoFont: 'Aliquam'
$hFont: 'Arial'
$textFont: 'Arial'

//Colors
$mainColor: #31b647
$hoverColor: white
$linkColor: white
$orangeColor: #ff4e00
$lightGray: rgba(0,0,0,.2)
//Media Queries
$small: new-breakpoint(max-width 970px)
$xsmall: new-breakpoint(max-width 750px)
$xsSmall: new-breakpoint(max-width 600px)
