<div class="category-grid main-slider owl-carousel">
	<a href="/" class="category-grid__item category-unit" style="background-image: url('https://trashopoisk.com/assets/images/card/hentaikamen2-card.jpg');">
		<div class="category-unit__info-wrapper">
			<div class="category-unit__caption">2016</div>
			<h3 class="category-unit__title">Трусонюх 2</h3>
			<div class="category-unit__caption">Индия, Китай, Сша</div>
			<p class="category-unit__descr">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium aliquid sint odio in aperiam fugit fuga, ut repellendus quos!</p>
		</div>
	</a>
	<a href="/" class="category-grid__item category-unit" style="background-image: url('https://trashopoisk.com/assets/images/card/funkyforest-card.jpeg');">
		<div class="category-unit__info-wrapper">
			<div class="category-unit__caption">1992</div>
			<h3 class="category-unit__title">Весёлый лес: Первый контакт</h3>
			<div class="category-unit__caption">Индия, Китай, Сша</div>
			<p class="category-unit__descr">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis accusamus distinctio numquam animi doloremque ullam cupiditate illum similique, velit soluta.</p>
		</div>
	</a>
	<a href="/" class="category-grid__item category-unit" style="background-image: url('/images/green.jpg');">
		<div class="category-unit__info-wrapper">
			<div class="category-unit__caption">1992</div>
			<h3 class="category-unit__title">Зеленый Слоник</h3>
			<div class="category-unit__caption">Индия, Китай, Сша</div>
			<p class="category-unit__descr">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid culpa odio quasi molestias obcaecati nisi dolorum delectus saepe, veniam, ipsa doloribus, fugit vel quia consequuntur architecto beatae vitae placeat eum.</p>
		</div>
	</a>
</div>
