<div class="category-grid">
	<a href="/" class="category-grid__item category-unit" style="background-image: url('https://trashopoisk.com/assets/images/card/hentaikamen2-card.jpg');">
		<div class="category-unit__info-wrapper">
			<h3 class="category-unit__title">Трусонюх 2</h3>
			<div class="category-unit__caption">Индия, Китай, Сша</div>
			<div class="category-unit__caption">2016</div>
		</div>
	</a>
	<a href="/" class="category-grid__item category-unit" style="background-image: url('https://trashopoisk.com/assets/images/card/funkyforest-card.jpeg');">
		<div class="category-unit__info-wrapper">
			<h3 class="category-unit__title">Весёлый лес: Первый контакт</h3>
			<div class="category-unit__caption">Индия, Китай, Сша</div>
			<div class="category-unit__caption">1992</div>
		</div>
	</a>
	<a href="/" class="category-grid__item category-unit" style="background-image: url('/images/green.jpg');">
		<div class="category-unit__info-wrapper">
			<h3 class="category-unit__title">Зеленый Слоник</h3>
			<div class="category-unit__caption">Индия, Китай, Сша</div>
			<div class="category-unit__caption">1992</div>
		</div>
	</a>
</div>