<section class="l-section">
	<div class="l-section__inner wrapper">
		<div class="l-section__head b-head">
			<h2 class="b-head__title">Лучшие из Худших</h2>
			<a href="./category-page.html" class="btn b-head__btn">Все 123</a>
		</div>
		<div class="category-grid">
			<a href="/" class="category-grid__item category-unit decor-lines" style="background-image: url('/images/green.jpg'); background-size: cover;">
				<h3 class="category-unit__name">Зеленый Слоник</h3>
				<div class="category-unit__info-wrapper">
					<h5 class="category-unit__eng-name">Zelenyi slonik</h5>
					<div class="category-unit__country">Индия, Китай, Сша</div>
					<div class="category-unit__year">1992</div>
					<div class="category-unit__descr">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae obcaecati pariatur soluta architecto molestias
						ab, dolorem minus laborum, quaerat assumenda fugit nobis dolorum. Excepturi eveniet quidem, beatae quisquam exercitationem
						ab ipsam recusandae, cupiditate blanditiis placeat aspernatur vel dolorum voluptates sit eius soluta ipsa atque. Quae
						facere exercitationem neque, facilis illo!</p>
					</div>
				</div>
				<div class="category-unit__paranja"></div>
			</a>
			<a href="/" class="category-grid__item category-unit decor-lines" style="background-image: url('/images/green.jpg'); background-size: cover;">
				<h3 class="category-unit__name">Зеленый Слоник</h3>
				<div class="category-unit__info-wrapper">
					<div class="category-unit__country">Индия, Китай, Сша</div>
					<div class="category-unit__year">1992</div>
					<div class="category-unit__descr">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae obcaecati pariatur soluta architecto molestias
						ab, dolorem minus laborum, quaerat assumenda fugit nobis dolorum. Excepturi eveniet quidem, beatae quisquam exercitationem
						ab ipsam recusandae, cupiditate blanditiis placeat aspernatur vel dolorum voluptates sit eius soluta ipsa atque. Quae
						facere exercitationem neque, facilis illo!</p>
					</div>
				</div>
				<div class="category-unit__paranja"></div>
			</a>
			<a href="/" class="category-grid__item category-unit decor-lines" style="background-image: url('/images/green.jpg'); background-size: cover;">
				<h3 class="category-unit__name">Зеленый Слоник</h3>
				<div class="category-unit__info-wrapper">
					<div class="category-unit__country">Индия, Китай, Сша</div>
					<div class="category-unit__year">1992</div>
					<div class="category-unit__descr">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae obcaecati pariatur soluta architecto molestias
						ab, dolorem minus laborum, quaerat assumenda fugit nobis dolorum. Excepturi eveniet quidem, beatae quisquam exercitationem
						ab ipsam recusandae, cupiditate blanditiis placeat aspernatur vel dolorum voluptates sit eius soluta ipsa atque. Quae
						facere exercitationem neque, facilis illo!</p>
					</div>
				</div>
				<div class="category-unit__paranja"></div>
			</a>
		</div>
	</div>
</section>

<section class="l-section">
	<div class="l-section__inner wrapper">
		<div class="l-section__head b-head">
			<h2 class="b-head__title">Худшие из Худших</h2>
			<a href="./category-page.html" class="btn b-head__btn">Все 12</a>
		</div>
		<div class="category-grid">
			<a href="/" class="category-grid__item category-unit decor-lines" style="background-image: url('/images/green.jpg'); background-size: cover;">
				<h3 class="category-unit__name">Зеленый Слоник</h3>
				<div class="category-unit__info-wrapper">
					<div class="category-unit__country">Индия, Китай, Сша</div>
					<div class="category-unit__year">1992</div>
					<div class="category-unit__descr">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae obcaecati pariatur soluta architecto molestias
						ab, dolorem minus laborum, quaerat assumenda fugit nobis dolorum. Excepturi eveniet quidem, beatae quisquam exercitationem
						ab ipsam recusandae, cupiditate blanditiis placeat aspernatur vel dolorum voluptates sit eius soluta ipsa atque. Quae
						facere exercitationem neque, facilis illo!</p>
					</div>
				</div>
				<div class="category-unit__paranja"></div>
			</a>
			<a href="/" class="category-grid__item category-unit decor-lines" style="background-image: url('/images/green.jpg'); background-size: cover;">
				<h3 class="category-unit__name">Зеленый Слоник</h3>
				<div class="category-unit__info-wrapper">
					<div class="category-unit__country">Индия, Китай, Сша</div>
					<div class="category-unit__year">1992</div>
					<div class="category-unit__descr">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae obcaecati pariatur soluta architecto molestias
						ab, dolorem minus laborum, quaerat assumenda fugit nobis dolorum. Excepturi eveniet quidem, beatae quisquam exercitationem
						ab ipsam recusandae, cupiditate blanditiis placeat aspernatur vel dolorum voluptates sit eius soluta ipsa atque. Quae
						facere exercitationem neque, facilis illo!</p>
					</div>
				</div>
				<div class="category-unit__paranja"></div>
			</a>
			<a href="/" class="category-grid__item category-unit decor-lines" style="background-image: url('/images/green.jpg'); background-size: cover;">
				<h3 class="category-unit__name">Зеленый Слоник</h3>
				<div class="category-unit__info-wrapper">
					<div class="category-unit__country">Индия, Китай, Сша</div>
					<div class="category-unit__year">1992</div>
					<div class="category-unit__descr">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae obcaecati pariatur soluta architecto molestias
						ab, dolorem minus laborum, quaerat assumenda fugit nobis dolorum. Excepturi eveniet quidem, beatae quisquam exercitationem
						ab ipsam recusandae, cupiditate blanditiis placeat aspernatur vel dolorum voluptates sit eius soluta ipsa atque. Quae
						facere exercitationem neque, facilis illo!</p>
					</div>
				</div>
				<div class="category-unit__paranja"></div>
			</a>
		</div>
	</div>
</section>


<section class="l-section">
	<div class="l-section__inner wrapper">
		<div class="l-section__head b-head">
			<h2 class="b-head__title">Лучшие из Худших</h2>
			<a href="./category-page.html" class="btn b-head__btn">Все 55</a>
		</div>
		<div class="category-grid">
			<a href="/" class="category-grid__item category-unit decor-lines" style="background-image: url('/images/green.jpg'); background-size: cover;">
				<h3 class="category-unit__name">Зеленый Слоник</h3>
				<div class="category-unit__info-wrapper">
					<div class="category-unit__country">Индия, Китай, Сша</div>
					<div class="category-unit__year">1992</div>
					<div class="category-unit__descr">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae obcaecati pariatur soluta architecto molestias
						ab, dolorem minus laborum, quaerat assumenda fugit nobis dolorum. Excepturi eveniet quidem, beatae quisquam exercitationem
						ab ipsam recusandae, cupiditate blanditiis placeat aspernatur vel dolorum voluptates sit eius soluta ipsa atque. Quae
						facere exercitationem neque, facilis illo!</p>
					</div>
				</div>
				<div class="category-unit__paranja"></div>
			</a>
			<a href="/" class="category-grid__item category-unit decor-lines" style="background-image: url('/images/green.jpg'); background-size: cover;">
				<h3 class="category-unit__name">Зеленый Слоник</h3>
				<div class="category-unit__info-wrapper">
					<div class="category-unit__country">Индия, Китай, Сша</div>
					<div class="category-unit__year">1992</div>
					<div class="category-unit__descr">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae obcaecati pariatur soluta architecto molestias
						ab, dolorem minus laborum, quaerat assumenda fugit nobis dolorum. Excepturi eveniet quidem, beatae quisquam exercitationem
						ab ipsam recusandae, cupiditate blanditiis placeat aspernatur vel dolorum voluptates sit eius soluta ipsa atque. Quae
						facere exercitationem neque, facilis illo!</p>
					</div>
				</div>
				<div class="category-unit__paranja"></div>
			</a>
			<a href="/" class="category-grid__item category-unit decor-lines" style="background-image: url('/images/green.jpg'); background-size: cover;">
				<h3 class="category-unit__name">Зеленый Слоник</h3>
				<div class="category-unit__info-wrapper">
					<div class="category-unit__country">Индия, Китай, Сша</div>
					<div class="category-unit__year">1992</div>
					<div class="category-unit__descr">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae obcaecati pariatur soluta architecto molestias
						ab, dolorem minus laborum, quaerat assumenda fugit nobis dolorum. Excepturi eveniet quidem, beatae quisquam exercitationem
						ab ipsam recusandae, cupiditate blanditiis placeat aspernatur vel dolorum voluptates sit eius soluta ipsa atque. Quae
						facere exercitationem neque, facilis illo!</p>
					</div>
				</div>
				<div class="category-unit__paranja"></div>
			</a>
		</div>
	</div>
</section>