<section class="l-section">
	<div class="wrapper">
		<h2 class="l-section__head">Новые бесплатные фильмы <a href="./category-page.html" class="btn-more">Все</a></h2>
		<div class="grid-film">
			<article class="grid-film__unit grid-film__unit--25">
				<a href="/" class="grid-film__img" style="background-image:url('images/green.jpg');">
					<img class="visuallyhidden" src="images/green.jpg" alt="Человеческая многоножка 2">
				</a>
				<div class="grid-film__info">
					<h3 class="grid-film__info-head">
						<a class="grid-film__info-name-link" href="/">Человеческая многоножка 2</a>
					</h3>
					<h4 class="grid-film__info-eng-name">English name</h4>
					<h5 class="grid-film__info-year">1992</h5>
				</div>
			</article>
			<article class="grid-film__unit grid-film__unit--25">
				<a href="/" class="grid-film__img" style="background-image:url('http://trashopoisk.com/assets/images/singham.png');"></a>
				<div class="grid-film__info">
					<h3 class="grid-film__info-head">
						<a class="grid-film__info-name-link" href="/">Человеческая многоножка 2</a>
					</h3>
					<h4>English name</h4>
					<h5>1992</h5>
				</div>
			</article>
			<article class="grid-film__unit grid-film__unit--25">
				<a href="/" class="grid-film__img" style="background-image:url('http://trashopoisk.com/assets//images/vizit.jpg');"></a>
				<div class="grid-film__info">
					<h3 class="grid-film__info-head">
						<a class="grid-film__info-name-link" href="/">Человеческая многоножка 2</a>
					</h3>
					<h4>English name</h4>
					<h5>1992</h5>
				</div>
			</article>
			<article class="grid-film__unit grid-film__unit--25">
				<a href="/" class="grid-film__img" style="background-image:url('images/green.jpg');"></a>
				<div class="grid-film__info">
					<h3 class="grid-film__info-head">
						<a class="grid-film__info-name-link" href="/">Человеческая многоножка 2</a>
					</h3>
					<h4>English name</h4>
					<h5>1992</h5>
				</div>
			</article>
		</div>
	</div>
</section>